{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <h2 class="my-2">Личный кабинет сотрудника</h2>
  <div class="content">
    <h2 class="my-2">{{ user.first_name }} {{user.second_name}}</h2>
    <img class="avatar-200" width="200px" src="{{user.profile.image.url}}" alt="">
  </div>

  <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Личный кабинет</legend>
              {% if email_busy %}
                <p>Этот адрес электронной почты занят</p>
              {% endif %}
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info my-3" type="submit">Сохранить</button>
          </div>
      </form>
</div>
{% endblock %}