body{
  background-color: #F6FBFF;
  color:#050F27;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.topNubex{
  position: fixed;
  right:45px;
  bottom: 45px;
  color:#fff;
  text-decoration: none;
  border-width: 2px;
  background-color: #319CFF;
  z-index: 999;
}

/* NAVBAR */
.navbar{
  background-color: #F6FBFF;
}
.navbar .navbar-nav .nav-link{
  color:#050F27;
}

.navbar .navbar-nav .nav-link .active{
  color:#319CFF;
}

.nav-link:hover{
  color:#319CFF;
}

.nav-link .login-btn{
  background-color: #319CFF;
  padding:10px;
}

.nav-link .login-btn:hover{
  background-color: #319CFF;
}

.navbar .login-btn .fst-row{
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.navbar .login-btn .snd-row{
  font-size: 9px;
  margin: 0;
}
.navbar-nav{
  justify-content: space-between;
}
.nav-link .name{
  text-decoration: underline;
}

.nav-link .logout{
  text-decoration: underline;
}


/* HOME_ABOUT */

.about{
  background: #E5E5E5;
}

.about h3{
  color:#1158FF;
  font-size: 35px;
}

.about .first-form{
  background-color: #fff !important;
}

.about .first-form .form-control{
  border: none !important;
  text-align: center  ;
}

/* HOW IT WORKS */

.how-it-works{
  background: #E5E5E5;
}

.how-it-works .container{
  position:relative;
}

.adv-1, .adv-2, .adv-3{

  position: absolute;
}

.adv-1{
  top:200px;
  left:0;
  right:0;
  bottom: 0;
}

.adv-2{
  top:100px;
  left:400px;
  right:0;
  bottom: 0;
}

.adv-3{
  top:50px;
  left:800px;
  right:0;
  bottom: 0;
}

.phrase{
  background-color: #319CFF;
}

.phrase .card{
  background-color:transparent;
  border: 0;
}


/* FOOTER */

footer{
  background-color: #050F27;
  color:#fff;
}

footer a{
  color:white;
  text-decoration: None;
}

footer a:hover{
  color:white;
  text-decoration: None;
}

.card-img-top .cropped-img {
  max-width: 200px !important; /* width of container */
  max-height: 200px !important; /* height of container */
  object-fit: cover !important;
}

.cropped1-img {
  max-width: 80px !important; /* width of container */
  max-height: 80px !important; /* height of container */
  object-fit: cover !important;
}