{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo my-5">
            <a class="nav-link active" aria-current="page" href="/"><img src="{% static 'images/logo.svg' %}" width="55px" alt=""></a>
                
            </div>
        </header>
        <div class="login mx-auto mt-5">
            <h1>ВХОД</h1>
            <form class="login-form" action="." method="post">
            <p class='text-center'>Вам на почту был выслан код для авторизации.</br>Введите его в поле ниже.</p>
                {% csrf_token %}
                {{form.code}}
                <div class="row">
                    <div class="col text-end">
                        <p><input class='submit-button' type="submit" value="&#8594;"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
